
.main{
 background-color: black;
 color: rgb(231, 225, 225);
}
.mainHeading{
    text-align: center;
    font-size: 65px;
    text-decoration: underline;
    margin-top: 2px;
}
.heading1{
    font-size: 28px;
    font-weight: bold;
}
h2{
    word-spacing: 10px;
    letter-spacing: 0.1em;
    font-family: 'Dosis', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Niramit', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Sen', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Space Mono', monospace;
    font-family: 'Titillium Web', sans-serif;
}
.firstDiv{
    
    font-family: 'Amiri', serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Niramit', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Sen', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Space Mono', monospace;
    font-family: 'Titillium Web', sans-serif;
}
#paragraphid{
    font-size: 0.9em;
    font-weight: lighter;
    color: gray;
}
.section{
    margin-left: 0.5em;
}
.grad {
    background-image: linear-gradient(to right, black,rgb(238, 41, 41));
    border: 5px;
    border-radius: 10px;
    border-style: dashed;
    border-color: black ;
  }
  .mainlabel{
      color: rgb(148, 147, 147);
  }
  .form{
      margin-left: 19px;
  }
  .label{
      margin-top: 10px;
  }
  .label1{
    background-image: linear-gradient(to right, rgb(27, 25, 25),rgb(238, 41, 41));
  }
  .submit{
      margin-top: 15px;
      margin-bottom: 30px;
      padding: 5px;
      color: white;
      border-radius: 20px;
      background-image: linear-gradient(to right, white,rgb(230, 23, 23));
  }
  
  .footer{
    background-color: black; 
    font-size: 50px; 
    color: white; 
    text-align: center;
    text-decoration: underline;
  }